name: Sign EXE and Create Signed Release

on:
  push:
    tags:
      - 'stopv*'

jobs:
  sign_exe:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
            
      - name: Download release asset
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}  
        run: |
          # Download the exe from the latest release
          gh release download --pattern "MunimApp.exe" --dir ./downloaded_asset

      - name: "Upload exe file to bucket"
        run:  | 
          aws s3 cp ./downloaded_asset/MunimApp.exe s3://${{ secrets.BUCKET_NAME }}/${{ secrets.BUCKET_PATH_TO_UPLOAD_EXE }}/win7_32/MunimApp.exe --endpoint ${{ secrets.BUCKET_ENDPOINT }} --acl public-read
          echo "EXE file uploaded to bucket."
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.BUCKET_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.BUCKET_SECRET_KEY }}
